[submodule "src/public-problems"]
	path = src/public-problems
	url = https://github.com/coding-cat-official/coding-cat-public
[submodule "src/private-problems"]
	path = src/private-problems
	url = https://github.com/coding-cat-official/coding-cat-private
[submodule "src/blog-posts"]
	path = src/blog-posts
	url = https://github.com/coding-cat-official/blog-posts.git
