[submodule "src/public-problems"]
	path = src/public-problems
	url = git@github.com:tsani/coding-cat-public.git
[submodule "src/private-problems"]
	path = src/private-problems
	url = git@github.com:emaj9/coding-cat-private.git
