* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0 0.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #eef;
  border: 3px solid #eef;
}

#root {
  height: 100vh;
  width: 100vw;
}

.mono {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiButton-root.mobile-bar{
  display: none;
}

.MuiBox-root.desktop-bar{
  display: flex;
}

.MuiBox-root.account-btns{
  position: absolute;
  top: 0;
  right: 0;
}

/* Animation CSS from https://stackoverflow.com/a/26937037 */

@-o-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #ffffac; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #ffffac; }
  100% { background-color: #FFFFFF; }
}

.backgroundAnimated{    
  background-image:none !important; 
  -o-animation: fadeIt 1.2s ease-in-out; 
  animation: fadeIt 1.2s ease-in-out; 
}

.mutation-table thead tr{
  border-bottom: 4px solid black;
  background-color: rgb(18, 148, 160);
}

.mutation-table tr:nth-child(odd) td{
  background-color: rgb(131, 218, 225);
}

.mutation-table td{
  text-align: center;
  padding: 10px;
}

.mutation-table th{
  padding: 20px 0;
}

.mutation-results{
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

table input{
  max-width: 100px;
  height: 30px;
  font-size: 14pt;
  text-align: center;
}

.MuiButton-root.add-mutation-button{
  background-color: white;
  border: 1px solid black;
}

.MuiButton-root.add-mutation-button:hover{
  background-color: antiquewhite;
}

.MuiCard-root.main-tutorial{
  margin: 20px 100px;
  min-width: 500px;
  max-width: 1000px;
  padding: 20px 50px;
}

.tutorial-icons{
  position: absolute;
  bottom: 130px;  
}

.tutorial-icons button{
  border: 1px solid black;
  color: black;
  background-color: white;
}

.MuiBox-root.navigate-problem-btn{
  display: flex; 
  width: 100%;
  justify-content: space-between; 
  padding: 0 5px; 
  margin-top: 5px !important
} 

@media (max-width: 1024px){
  .problem-ide-editor div{
    width: 900px;
  }

  .MuiBox-root .problem-container{
    flex-direction: column;
  }

  .MuiBox-root .results-container{
    margin-left: 0px;
    margin-top: 10px;
  }

  .MuiBox-root.desktop-bar{
    display: none;
  }

  .MuiButton-root.mobile-bar{
    display: flex;
  }

  .MuiStack-root.upper-nav{
    justify-content: space-between;
  }

  /* Profile related */
  .MuiStack-root.profile-wrapper{
    flex-direction: column;
    margin: 20px;
  }

  .MuiStack-root.account-wrapper{
    border: 1px solid black;
    padding: 20px;
    margin: 10px 40px 30px;
    flex-direction: row;
    border-radius: 10px;
  }

  .MuiStack-root.progress-wrapper{
    margin: 0 40px;
  }

  .MuiStack-root.account{
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 500px){
  .MuiSvgIcon-root.menu-icon{
    font-size: 20px;
  }

  .MuiStack-root .logo img, h1{
    max-height: 50px;
  }

  .MuiStack-root.upper-nav{
    justify-content: space-between;
  }

  .MuiStack-root.account-wrapper{
    flex-direction: column;
  }

  .MuiStack-root.account{
    flex-direction: column;
  }
}
