* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 0.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #eef;
  border: 3px solid #eef;
}

#root {
  height: 100%;
}

.mono {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 1024px){
  .problem-ide-editor div{
    width: 900px;
  }

  .MuiBox-root .problem-container{
    flex-direction: column;
  }

  .MuiBox-root .results-container{
    margin-left: 0px;
    margin-top: 10px;
  }
}